* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  background: #777;
  width: 960px;
  font-size: 18px;
  margin: 0 auto;
}

header {
  padding: 40px;
  background: #ebebeb;
  margin-bottom: 40px;
}

.clear {
  clear: both;
}

#left {
  width: 50%;
  padding: 20px;
  background-color: #ebebeb;
}

#left > div {
  padding-bottom: 10px;
}

#right {
  color: #ebebeb;
  width: 50%;
}

#full {
  clear: both;
  overflow: auto;
  width: 100%;
}

#division {
  width: 33%;
}

section {
  width: 30%;
  height: 280px;
  border: 10px solid #ebebeb;
  float: left;
  margin-left: 30px;
  display: block;
  position: section;
}

article {
  background: #777;
  padding: 20px;
}

article > div {
  color: #ebebeb;
  padding-top: 5px;
}

aside {
  float: right;
  background: #ebebeb;
  width: 40%;
  height: 280px;
  padding: 20px;
  margin-right: 30px;
}

p {
  /* color: #777; */
  background: #ebebeb;
  padding: 10px;
}

footer {
  margin-top: 20px;
  padding: 40px;
  background-color: #ebebeb;
  margin-bottom: 40px;
}
